---
import Carousel from "../Carousel.jsx";
---

<section class="border-white/20 border-b">
  <div class="mx-auto border-white/20 border-x max-w-7xl gradient-grid">
    <div class="mx-auto max-w-7xl p-8">
      <p class="text-white font-display uppercase lg:text-6xl text-xl">
        Hello! I'm Daniel Park!
      </p>
    </div>
    <div class="mx-auto max-w-7xl p-8">
      <p class="text-white font-display uppercase lg:text-3xl">
        I am a recent graduate from Virginia Tech with a passion for software
        engineering. My journey has equipped me with a diverse skill set,
        including proficiency in Python, Java, JavaScript, HTML/CSS, and C. My
        previous experiences spans across full-stack web development and the
        fundamentals of AI/ML, shaping my approach to creating innovative
        solutions.
      </p>
    </div>
  </div>
</section>
