<section class="border-b border-white/20 bg-accent-500">
  <div
    class="mx-auto max-w-7xl border-white/20 border-x"
    x-data="{ init() {
            new Splide(this.$refs.splide, {

                perPage: 3,
                gap: '0rem',
                breakpoints: {
                    640: {
                        perPage: 1,
                    },
                },

            }).mount()
        },
    }"
  >
    <section
      class="splide is-initialized splide--slide splide--ltr splide--draggable is-active"
      aria-label="Splide/Alpine.js"
      x-ref="splide"
      id="splide01"
      aria-roledescription="carousel"
    >
      <div
        class="h-full splide__track splide__track--slide splide__track--ltr splide__track--draggable"
        id="splide01-track"
        style="padding-left: 0px; padding-right: 0px;"
        aria-live="polite"
        aria-atomic="true"
        aria-busy="false"
      >
        <ul
          class="splide__list"
          id="splide01-list"
          role="presentation"
          style="transform: translateX(-2040px);"
        >
          <li
            class="flex justify-center flex-col splide__slide is-prev"
            id="splide01-slide03"
            role="tabpanel"
            aria-roledescription="slide"
            aria-label="3 of 4"
            style="margin-right: 0.5rem; width: calc(((100% + 0.5rem) / 1) - 0.5rem);"
            aria-hidden="true"
          >
            <a
              class="h-full content-center object-cover object-center bg-neutral-300 border-t border-black lg:border-r"
              href="https://dl.acm.org/doi/10.1145/3611314.3625831"
            >
              <img
                alt="work"
                class="w-full shadow-2xl transform transition duration-300 hover:scale-90"
                src="/personal-website/work/brain_tumor.png"
              />
            </a>
            <div
              class="text-white text-xs order-first p-3 text-center lg:border-r lg:border-white/20"
            >
              <span class="block font-semibold">Brain Flow Visualization</span>
            </div>
          </li>
          <li
            class="flex justify-center flex-col splide__slide is-prev"
            id="splide01-slide01"
            role="tabpanel"
            aria-roledescription="slide"
            aria-label="1 of 4"
            style="margin-right: 0.5rem; width: calc(((100% + 0.5rem) / 1) - 0.5rem);"
            aria-hidden="true"
          >
            <a
              class="h-full content-center object-cover object-center bg-neutral-300 border-t border-black lg:border-r"
              href="https://github.com/dpark26/pokemon-showdown-ai-cs4804-sp24-group15"
            >
              <img
                alt="work"
                class="w-full shadow-2xl transform transition duration-300 hover:scale-90"
                src="/personal-website/work/pokemon-showdown-ai.png"
              />
            </a>
            <div
              class="text-white text-xs order-first p-3 text-center lg:border-r lg:border-white/20"
            >
              <span class="block font-semibold">Pokemon Showdown AI Bot</span>
            </div>
          </li>
          <li
            class="flex justify-center flex-col splide__slide is-prev"
            id="splide01-slide03"
            role="tabpanel"
            aria-roledescription="slide"
            aria-label="3 of 4"
            style="margin-right: 0.5rem; width: calc(((100% + 0.5rem) / 1) - 0.5rem);"
            aria-hidden="true"
          >
            <!-- <a
              href=""
              class="h-full content-center object-cover object-center bg-neutral-300 border-t border-black lg:border-r"
            > -->
            <img
              alt="work"
              class="w-full shadow-2xl h-full content-center object-cover object-center border-t border-black lg:border-r"
              src="/personal-website/work/course-management-system.png"
            />
            <!-- </a> -->
            <div
              class="text-white text-xs order-first p-3 text-center lg:border-r lg:border-white/20"
            >
              <span class="block font-semibold">Course Management System</span>
            </div>
          </li>
          <li
            class="flex justify-center flex-col splide__slide is-prev"
            id="splide01-slide03"
            role="tabpanel"
            aria-roledescription="slide"
            aria-label="3 of 4"
            style="margin-right: 0.5rem; width: calc(((100% + 0.5rem) / 1) - 0.5rem);"
            aria-hidden="true"
          >
            <!-- <a href="" class="bg-neutral-300"> -->
            <img
              alt="work"
              class="w-full shadow-2xl object-cover object-center border-t border-black lg:border-r"
              src="/personal-website/work/lingoscope.png"
            />
            <!-- </a> -->
            <div
              class="text-white text-xs order-first p-3 text-center lg:border-r lg:border-white/20"
            >
              <span class="block font-semibold">Lingoscope</span>
            </div>
          </li>
          <li
            class="flex justify-center flex-col splide__slide"
            id="splide01-slide03"
            role="tabpanel"
            aria-roledescription="slide"
            aria-label="3 of 4"
            style="margin-right: 0.5rem; width: calc(((100% + 0.5rem) / 1) - 0.5rem);"
            aria-hidden="true"
          >
            <!-- <a
              href=""
              class="h-full content-center object-cover object-center bg-neutral-300 border-t border-black lg:border-r"
            > -->
            <img
              alt="work"
              class="w-full shadow-2xl h-full content-center object-cover object-center border-t border-black lg:border-r"
              src="/personal-website/work/fitness.png"
            />
            <!-- </a> -->
            <div
              class="text-white text-xs order-first p-3 text-center lg:border-r lg:border-white/20"
            >
              <span class="block font-semibold"
                >Health/Fitness App (In Progress)</span
              >
            </div>
          </li>
        </ul>
      </div>
    </section>
  </div>
</section>
